{% extends "base.html" %}
{% load static %}
{% block page_content %}

<script type="text/javascript">
    const btn = document.querySelector("button.rand-combo");
    var head = document.getElementById("#head");
    var subhead = document.getElementById("#subhead");
    var textbody = document.getElementById("#textbody");

    btn.onclick = random_font_combo(){
        // Get current font family of body
        current_family = textbody.family

        // Pick random font for body

        // Pick random recs for heading and subheading
    }

    // Function for choosing fonts in sidebar type thing
    // Heading and subheading choices are the recs for the body font

</script>

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<p class="welcome">All the text below is editable - feel free to add your own content and play with font combinations! Or, if you're lazy like me, you can generate random font combinations by clicking the big blue button below to get a random body font and two random recommendations for that font as the headings.</p>
<div contenteditable="true" class="texteditor" style="margin-top: 1.5em; margin-bottom: 1.5em;">
    <h1 id="head">This is a heading!</h1>
    <br>
    <h2 id="subhead">This is a subheading!</h2>
    <br>
    <span id="textbody">
      <p>This is body text that can be edited by the user.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </span>
</div>
<button class="btn btn-primary rand-combo">Random Font Combination</button>
<br>

{% endblock %}