{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Categories</h1>
    <hr>
    {% for font in fonts %}
    <h2><a href="{% url 'font_category' category%}">{{ category.name }}</a></h2>
    <small>
        {{ font.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in font.categories.all %}
        <a href="{% url 'font_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <!-- <p>{{ post.body | slice:":400" }}...</p> -->
    {% endfor %}
</div>
{% endblock %}