{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Families</h1>
    <hr>
    {% for font in fonts %}
    <h2><a href="{% url 'font_detail' font.pk%}">{{ font.name }}</a></h2>
    <small>
        {{ font.created_on.date }} |&nbsp;
        Families:&nbsp;
        {% for family in font.families.all %}
        <a href="{% url 'font_family' family.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    {% endfor %}
</div>
{% endblock %}