{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ weight | string }}</h1>
    <hr>
    {% for weight in weights %}
        <h2><a href="{% url 'font_weight' font.pk%}">{{ font.weight }}</a></h2>
        <small>
            {{ font.created_on.date }} |&nbsp;
            Weight:&nbsp;
            {% for weight in font.weight.all %}
            <a href="{% url 'font_weight' weight.string %}">
                {{ weight.string }}
            </a>&nbsp;
            {% endfor %}
        </small>
    {% endfor %}
</div>
{% endblock %}