{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'css/detail_page.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ family.name }}">

<style type="text/css">
    .use-font{
        font-family: {{ family.name }};
    }
</style>

<br>
<h1 class="use-font">{{ family.name }}</h1>
<div class="row">
    <div class="col-md-4">
        <br>
        <a class="gf-link btn btn-outline-primary" a href={{ family.url }}>See on Google Fonts</a>
        <br><br>
        <h5>Category:</h5>
            <p><a href="{% url 'category' family.category.pk %}">{{ family.category.name }}</a></p>
        <h5>Variants:</h5>
            {% for font in fonts %}
                <a href="{% url 'font_detail' font.pk %}">{{ font.name }}</a>
                {% if num_fonts != 1 %}
                    {% if font != last_font %}
                        | <!-- add separator symbol if not last element -->
                    {% endif %}
                {% endif %}
            {% endfor %}
    </div>
    <div class="col-md-4">
        <br>
        <div contenteditable="true" class="use-font texteditor">
            <h3>Sample text in this font.</h3>
            <br>
            <p>The quick brown fox jumps over the lazy dog</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}