{% extends "base.html" %}
{% load static %}
{% block page_content %}

<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "paging":   true,
        "ordering": false,
        "info":     false,
        "pageLength": 50
    } );
} );
</script>

<h1>Fonts</h1>
<div class="row" id="example">
{% for font in fonts %}
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font.family }}"> -->
    <div class="col-md-4">
        <div class="card mb-2">
            <!-- <img class="card-img-top" src="{% static font.image %}"> -->
            <!-- <img class="card-img-top" src="https://www.gstatic.com/images/icons/material/apps/fonts/1x/opengraph_color_1200dp.png"> -->
            <!-- <img class="card-img-top" src="./fonts/static/img/gf_logo.png"> -->
            <div class="card-body">
                <h5 class="card-title" style="font-family: {{ font.family }}">{{ font.name }}</h5>
                <p class="card-text">{{ font.category }}</p>
                <a href="{% url 'font_detail' font.pk %}"
                   class="btn btn-primary">
                    Details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}