{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style type="text/css">
    td:focus{
        outline: none;
    }
</style>

<!-- Begin font list -->
<h1>Fonts</h1>
<br>
<table id="font_list" class="table">
    <thead>
        <tr>
            <th>Font</th>
            <th>Category</th>
            <th>Edit Me!</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for font in fonts %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font.family.name }}">
        <tr>
            <td class = "{{ font.name }}"
            style="font-family: {{ font.family.name }};
                  font-weight: {{ font.weight_num  }};
                  {% if font.is_italic %}
                    font-style: italic;
                  {% endif %}">{{ font.name }}</td>
            <td>{{ font.category.name }}</td>
            <!-- Generate random sentences instead? -->
            <td class = "{{ font.name }}" contenteditable="true" style="font-family: {{ font.family.name }};"><div class="texteditor">Edit this sentence!</div></td>
            <td><a href="{% url 'font_detail' font.pk %}"class="btn btn-primary">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End font list -->

<!-- Begin pagination -->
{% if fonts.has_other_pages %}
<nav aria-label="Font list pagination">
  <ul class="pagination">
    <!-- Begin previous buttons -->
    {% if fonts.has_previous %}

    <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">First</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ fonts.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    <!-- End previous buttons -->

    <!-- Limit number of pages to show -->
    {% for num in fonts.paginator.page_range %}
        {% if fonts.number == num %}
        <li class="page-item active"><span class="pagination-number pagination-current page-link">{{ num }}</span></li>
        {% elif num > fonts.number|add:'-15' and num < fonts.number|add:'15' %}
            <li class="page-item"><a class="pagination-number page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}

      {% endfor %}

    <!-- Begin next button -->
    {% if fonts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ fonts.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
        <li class="page-item">
      <a class="page-link" href="?page={{ fonts.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Last</span>
      </a>
    </li>
    {% endif %}
    <!-- End next button -->
  </ul>
</nav>
{% endif %}
<!-- End pagination -->




<!-- {% if fonts.has_other_pages %}
  <div class="pagination">
    {% if fonts.has_previous %}
        <a class="pagination-action" href="?page=1">
         <span><<</span>
        </a>
        <a class="pagination-action" href="?page={{ fonts.previous_page_number }}">
          <span><</span>
        </a>
    {% endif %}

      {% for num in fonts.paginator.page_range %}

        {% if fonts.number == num %}
        <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > fonts.number|add:'-10' and num < fonts.number|add:'10' %}
        <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}

      {% if fonts.has_next %}
        <a class="pagination-action" href="?page={{ fonts.next_page_number }}">
          <span>></span>
        </a>
        <a class="pagination-action" href="?page={{ fonts.paginator.num_pages }}">
          <span>>></span>
        </a>
      {% endif %}
  </div>
{% endif %} -->

<!-- <div class="row" id="example">
{% for font in fonts %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font.family }}">
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title" style="font-family: {{ font.family }}">{{ font.name }}</h5>
                <p class="card-text">{{ font.category }}</p>
                <a href="{% url 'font_detail' font.pk %}"
                   class="btn btn-primary">
                    Details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->
{% endblock %}